ul.contact-points {
	display: flex;
	width: fit-content;
	margin: auto;
	padding: 1.4em 1.1em;
	list-style-type: none;
	font-size: 1.7rem;
	li {
		margin: .3em .3em 6vh .3em;
		transition: 200ms ease-in;
		&:hover {
			transform: translateY(-.17em);
			color: green;
			img {
				filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(180deg) brightness(80%) contrast(90%);
			}
		}
		img {
			width: 1em;
		}
	}
}

ul.fixed-left.contact-points {
	display: initial;
	position: fixed;
	bottom: 20%;
	padding: 0 .5em 0 .4em;
}
