.toolbar {
	box-shadow: 0 0 8px rgba(0,0,0,.8);
	padding: .5rem 1rem;
    background: #fafaf5;
	position: sticky;
	transition: 500ms ease-in-out;
    top: -4rem;
	&.sticky {
		top: 0;
	}
	h2 {
		cursor: pointer;
		font-family: Merriweather, serif;
		font-weight: 100;
	}
}
