<div class="blog">
<div class="toolbar"
	[ngClass]="{
		'sticky': ((windowService.scroll$ | async) || 0) < 0
	}"
	>
	<ng-container *ngIf="((windowService.screenType$ | async) || -1) > 0; else smallMenu">
		<h2 routerLink="/">Zachary Scott</h2>
	</ng-container>
	<ng-template #smallMenu>
		<h2>Zachary Scott</h2>
	</ng-template>
</div>

<router-outlet> </router-outlet>
</div>
<app-contact-points baseColor="
	invert(48%) sepia(79%) saturate(0%) hue-rotate(180deg) brightness(3%) contrast(100%)
	"
					hoverColor="
	invert(48%) sepia(79%) saturate(500%) hue-rotate(180deg) brightness(100%) contrast(100%)
	"
	></app-contact-points>
