.blog {
    background: #fffdfa;
}
.toolbar {
	width: 100%;
    background: #fffdfa;
	box-shadow: 0 0 8px rgba(0,0,0,.8);
	position: sticky;
	transition: 500ms ease-in-out;
    top: -4rem;
	&.sticky {
		top: 0;
	}
	h2 {
		padding: .5rem;
		cursor: pointer;
		font-family: Merriweather, serif;
		font-weight: 100;
	}
}
