/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: Good-Times;
	src: url("assets/good-times-rg.otf") format("opentype");
}
@font-face {
	font-family: Pixel;
	src: url("assets/Minecraftia-Regular.ttf") format("opentype");
}
@font-face {
	font-family: Horsemen;
	src: url("assets/Horsemen.otf") format("opentype");
}
:root {
	--neon-purple: #902be3;
	--neon-magenta: #d900ff;
	--neon-pink: #ff00c8;
	--neon-orange: #ff8c00;
	--neon-blue: #008aff;
	&::-webkit-scrollbar {
		display: none;
	}
}
* {
	margin: 0;
}
body {
	margin: 0;
	font-size: 20px;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.app-content {
	height: 3000px;
	width: 100vw;
}

.scroll-slide {
	transition: 1.2s ease-out;
	transform: none;
	&.off-screen {
		transform: translateX(-5rem);
		opacity: 0;
	}
}

.blog-container {
	margin: auto;
	max-width: 800px;
	background-color: #fffcf7;
	border: 4px solid #fffdf9;
	width: 100%;
	padding: 0 1.2% 1em 1.2%;
	margin-bottom: 0;
	@media (min-width: 500px) {
		width: 90%;
		padding: 0 50px 2em 50px;
	}
	color: rgba(41,41,41,1);
	h1,h2 {
		text-align: center;
		font-family: 'Playfair Display', sans-serif;
		font-weight: 500;
	}
	h1 {
		padding-top: 1rem;
		margin-top: 0;
		font-size: 2.2rem;
	}
	h2 {
		margin-bottom: 1rem;
		font-size: 1.75rem;
	}

	.blog-main-img {
		width: 100%;
	}

	section {
		margin-top: 2rem;
		font-family: 'Merriweather', serif;
		&::first-letter {
			color: #0e5d23;
			line-height: 1em;
			margin-top: .05em;
			font-size: 2.55em;
			margin-right: .1em;
			float: left;
		}
	}
	p {
		line-height: 1.4;
		margin-bottom: 1.1em;
		code {
			font-family: Roboto;
			background: #ebebe7;
			border-radius: .3rem;
			padding: 0 .3em;
		}
	}
	pre {
		white-space: pre-wrap;
		background: #ebebe7;
		padding: 1rem; 
		font-family: Roboto;
		border-radius: .3rem;
		code {
		}
	}
}
